/* Reset page */
body.accessDyslexique {
  font-family: "AccessibleDfA";
  src: url("./LibrairieAccessibilite/AccessibleDfA.otf") format("truetype");
}
body {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  letter-spacing: 0px;
  position: relative;
  line-height: 25px;
  overflow-x: hidden;
}
a{
  color: inherit;
  text-decoration: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: fit-content;
}
footer {
    position: relative;
    width: 100%;
    background-color: #066363;
    color: white;
    bottom: 0;
  }
#containerMenuAccessible {
    width: 25%;
    right: 0;
    bottom: 0;
    margin-right: 70px;
    position: absolute;
  }
  #containerMenuAccessible #ButtonMenuAccessible {
    position: fixed;
    background-color: var(--backgroundButtonPrimary_templateDefault);
    color: var(--textColorWithBG_templateDefault);
    border-radius: 15px;
    border: 2px solid #1a1919;
    padding: 5px;
    width: auto;
    height: 60px;
    top: 60px;
    z-index: 1;
    right: 40px;
  }
  
  #closeMenu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--backgroundButtonPrimary_templateDefault);
    border-radius: 100%;
    padding: 15px;
    width: auto;
    border-radius: 100%;
  }
  
  #menuAccessible {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    visibility: hidden;
    position: fixed;
    overflow: scroll;
    height: 600px;
    width: 400px;
    top: 20px;
    right: 20px;
    background-color: var(--backgroundMenu_templateDefault);
    border: 2px solid black;
    padding: 25px;
    z-index: 2;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  #menuAccessible h2 {
    color: var(--textColor_templateDefault);
  }
  #menuAccessible h3 {
    width: 100%;
    color: var(--textColor_templateDefault);
  }
  #menuAccessible .btnModified {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    color: var(--textColor_templateDefault);
    background-color: var(--backgroundButtonPrimary_templateDefault);
    border: 5px dashed transparent;
  }
  #menuAccessible .btnModified:hover {
    border: 5px dashed #ffff;
  }
  #menuAccessible i {
    font-size: 25px;
  }
  #menuAccessible .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #menuAccessible .containerSousCategory {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--backgroundContainerButton_templateDefault);
  }
  /* #menuAccessible p {
    width: 100%;
    color: black;
  } */
  
  .containerA {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
  .containerA i {
    color: black;
  }
  .containerA h3 {
    text-align: center;
  }
  .containerA .containerB {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    padding: 5px 60px;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .containerA .containerC {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containerA .containerC .btnModifiedBisL {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  .containerA .containerC .btnModifiedBisR {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
.informationsButtonSecondary {
    width: 100%;
    color: black;
    background-color: var(--backgroundButtonSecondary_templateDefault);
    border-radius: 10px;
  }
  
  img{
    width: 200px;
    object-fit: contain;
  }

  .textAlignCenterActive{
    text-align: center !important;
}
.textAlignRightActive{
    text-align: right !important;
}
.textAlignLeftActive{
    text-align: left !important;
}

.tittlehighlightActive{
  background-color: rgb(255, 187, 98);
}

a{
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
}

/* Template : default */
:root {
  --backgroundMenu_templateDefault:#ffff; 
  --backgroundContainerButton_templateDefault: aliceblue;
  --backgroundButtonPrimary_templateDefault:#ffaea4;
  --backgroundButtonSecondary_templateDefault:#87D7D7;
  --textColorWithBG_templateDefault: #1B1C1E;
  --textColor_templateDefault: #1B1C1E;
  --link_templateDefault:orange;
  --link_templatePremium: green;
}
/* Template : Golden Dark Premium */
:root{
  --backgroundMenu_templatePremiumGoldenDark:#2f2f2f;
  --backgroundPrimaryColor_templatePremiumGoldenDark: #f6f6f6;
  --backgroundSecondaryColor_templatePremiumGoldenDark:#ffcb75;
  --backgroundTertiaryCorlor_templatePremiumGoldenDark:#6d6d6d;
}

/* Template : blackPink */
:root{
  --backgroundMenu_templateBlackPink:#ffe1e1;
  --backgroundPrimaryColor_templateBlackPink: #000000;
  --backgroundSecondaryColor_templateBlackPink:#f6f6f6;
  --backgroundTertiaryCorlor_templateBlackPink:#ffff;
}
/* Template : fujiwara */
:root{
  --backgroundMenu_templateFujiwara:#ffe1e1;
  --backgroundPrimaryColor_templateFujiwara: #000000;
  --backgroundSecondaryColor_templateFujiwara:#f6f6f6;
  --backgroundTertiaryCorlor_templateFujiwara:#38A0E0;
}

/* Template : mrGrey*/
:root{
  --backgroundMenu_templateMrGrey:#ffff;
  --backgroundPrimaryColor_templateMrGrey: #ebedf0;

  --backgroundSecondaryColor_templateMrGrey:#a6a7b0;
  --backgroundTertiaryCorlor_templateMrGrey:#000000;
}

/* Template : bluDaBaDee*/
:root{
  --backgroundMenu_templateBluDaBaDee:#ffff;
  --backgroundPrimaryColor_templateBluDaBaDee: #001AFF;
  --backgroundSecondaryColor_templateBluDaBaDee:#C8F8FF;
  --backgroundTertiaryCorlor_templateBluDaBaDee:#000000;
}

/* Template : basicBlue*/
:root{
  --backgroundMenu_templateBasicBlue:#ffff;
  --backgroundPrimaryColor_templateBasicBlue: #001AFF;
  --backgroundTertiaryCorlor_templateBasicBlue:#000000;
}

/* Template : orangeBlue*/
:root{
  --backgroundMenu_templateOrangeBlue:#ffff;
  --backgroundPrimaryColor_templateOrangeBluee: #0800A7;
  --backgroundSecondaryColor_templateOrangeBluee: #FFAC00;
  --backgroundTertiaryCorlor_templateOrangeBlue:#000000;
}
/* Template : juzoSuzuya*/
:root{
  --backgroundMenu_templateJuzoSuzuya:#ffff;
  --backgroundPrimaryColor_templateJuzoSuzuya: #b50001;
  --backgroundSecondaryColor_templateJuzoSuzuya: #ebedf0;
  --backgroundTertiaryCorlor_templateJuzoSuzuya:#000000;
}




.linkshighlightActive{
  border: 2px solid var(--link_templateDefault);
}
.imgDisplaytActive{
  visibility: hidden;
}