#getSkiptoContent a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    margin: 20px 20px 20px 50px;
    background-color: beige;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(30px);
    z-index: 999999;
    transition: opacity 0.3s, transform 0.3s;
}

#getSkiptoContent :focus {
    opacity: 1;
    transform: translateY(0);
}

#getSkiptoContent li {
    color: salmon;
}

#lineSkipContent{
    width: 100%;
    height: auto;
}